[submodule "Documentation"]
	path = Documentation
	url = git@github.com:apes/apes.documentation.git
[submodule "Tools"]
	path = Tools
	url = git@github.com:apes/apes.tools.git
[submodule "Components"]
	path = Components
	url = git@github.com:apes/apes.components.git
