[submodule "Components/ArmV6Processor"]
	path = Components/ArmV6Processor
	url = ../ArmV6Processor.git
[submodule "Components/D940ArmProcessor"]
	path = Components/D940ArmProcessor
	url = ../D940ArmProcessor.git
[submodule "Components/D940EthernetDriver"]
	path = Components/D940EthernetDriver
	url = ../D940EthernetDriver.git
[submodule "Components/D940MmcDriver"]
	path = Components/D940MmcDriver
	url = ../D940MmcDriver.git
[submodule "Components/D940Platform"]
	path = Components/D940Platform
	url = ../D940Platform.git
[submodule "Components/D940RdmaDriver"]
	path = Components/D940RdmaDriver
	url = ../D940RdmaDriver.git
[submodule "Components/D940SystemDriver"]
	path = Components/D940SystemDriver
	url = ../D940SystemDriver.git
[submodule "Components/DeviceFileSystem"]
	path = Components/DeviceFileSystem
	url = ../DeviceFileSystem.git
[submodule "Components/DnaCore"]
	path = Components/DnaCore
	url = ../DnaCore.git
[submodule "Components/DnaCoreRT-RM"]
	path = Components/DnaCoreRT-RM
	url = ../DnaCoreRT-RM.git
[submodule "Components/DnaKickStart"]
	path = Components/DnaKickStart
	url = ../DnaKickStart.git
[submodule "Components/DnaLibrary"]
	path = Components/DnaLibrary
	url = ../DnaLibrary.git
[submodule "Components/DnaMM-WorstFit"]
	path = Components/DnaMM-WorstFit
	url = ../DnaMM-WorstFit.git
[submodule "Components/DnaTools"]
	path = Components/DnaTools
	url = ../DnaTools.git
[submodule "Components/DnaVirtualFileSystem"]
	path = Components/DnaVirtualFileSystem
	url = ../DnaVirtualFileSystem.git
[submodule "Components/KahnProcessNetworkLibrary"]
	path = Components/KahnProcessNetworkLibrary
	url = ../KahnProcessNetworkLibrary.git
[submodule "Components/LwIP"]
	path = Components/LwIP
	url = ../LwIP.git
[submodule "Components/MasterBootRecordModule"]
	path = Components/MasterBootRecordModule
	url = ../MasterBootRecordModule.git
[submodule "Components/MicroBlaze81iProcessor"]
	path = Components/MicroBlaze81iProcessor
	url = ../MicroBlaze81iProcessor.git
[submodule "Components/MultiMediaCardModule"]
	path = Components/MultiMediaCardModule
	url = ../MultiMediaCardModule.git
[submodule "Components/Mips32Processor"]
	path = Components/Mips32Processor
	url = ../Mips32Processor.git
[submodule "Components/NewlibCLibrary"]
	path = Components/NewlibCLibrary
	url = ../NewlibCLibrary.git
[submodule "Components/NiosIIProcessor"]
	path = Components/NiosIIProcessor
	url = ../NiosIIProcessor.git
[submodule "Components/PosixThreadsLibrary"]
	path = Components/PosixThreadsLibrary
	url = ../PosixThreadsLibrary.git
[submodule "Components/RendezVousChannelDriver"]
	path = Components/RendezVousChannelDriver
	url = ../RendezVousChannelDriver.git
[submodule "Components/RootFileSystem"]
	path = Components/RootFileSystem
	url = ../RootFileSystem.git
[submodule "Components/SoclibFramebufferDriver"]
	path = Components/SoclibFramebufferDriver
	url = ../SoclibFramebufferDriver.git
[submodule "Components/SoclibBlockDriver"]
	path = Components/SoclibBlockDriver
	url = ../SoclibBlockDriver.git
[submodule "Components/SoclibHostAccessDriver"]
	path = Components/SoclibHostAccessDriver
	url = ../SoclibHostAccessDriver.git
[submodule "Components/SoclibPlatformDriver"]
	path = Components/SoclibPlatformDriver
	url = ../SoclibPlatformDriver.git
[submodule "Components/SoclibPlatform"]
	path = Components/SoclibPlatform
	url = ../SoclibPlatform.git
[submodule "Components/DolLibrary"]
	path = Components/DolLibrary
	url = ../DolLibrary.git
[submodule "Components/FATFileSystem"]
	path = Components/FATFileSystem
	url = ../FATFileSystem.git
[submodule "Components/LibELF"]
	path = Components/LibELF
	url = ../LibELF.git
[submodule "Components/NativeProcessor"]
	path = Components/NativeProcessor
	url = ../NativeProcessor.git
[submodule "Components/PosixSemaphoresLibrary"]
	path = Components/PosixSemaphoresLibrary
	url = ../PosixSemaphoresLibrary.git
[submodule "Components/SoclibDmaDriver"]
	path = Components/SoclibDmaDriver
	url = ../SoclibDmaDriver.git
[submodule "Components/SoclibTtyDriver"]
	path = Components/SoclibTtyDriver
	url = ../SoclibTtyDriver.git
[submodule "Components/ix86Processor"]
	path = Components/ix86Processor
	url = ../ix86Processor.git
[submodule "Components/PCPlatform"]
	path = Components/PCPlatform
	url = ../PCPlatform.git
[submodule "Components/PCPlatformDriver"]
	path = Components/PCPlatformDriver
	url = ../PCPlatformDriver.git
